---
name: Integration tests
# Impure, cross platform integration tests
on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os.host }}
    strategy:
      matrix:
        os:
          - host: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
      - name: Lint
        shell: bash
        run: |
          nix develop . --command just lint-check
      - name: Run neovim with rikai
        shell: bash
        run: |
          nix develop . --command lx check
          nix develop . --command just test

